<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <!-- 파비콘-->
    <link rel="icon" type="image/x-icon" href="../static/assets/img/favicon.ico" />
    <!-- 폰트 아이콘 -->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- 구글 폰트-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <!-- CSS 코어 (부트스트랩 포함)-->
    <link href="../static/css/styles.css" rel="stylesheet" />
    <style>
        #sideText {
            float: left;
            margin-top: 150px;
            margin-left: 50px;
            margin-right: 20px;
        }

        #bottomText {
            width: 50%;
            margin: 0 auto;
            text-align: center;
        }

        #contents {
            width: 50%;
            margin: 0 auto;
        }

        #contents {
            font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
            font-size: 20px;
        }
    </style>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <button class="btn btn-primary navbar-brand js-scroll-trigger" onclick="location.href='/user'">뒤로 가기</button>

        <div class="collapse navbar-collapse" id="navbarResponsive"></div>
    </nav>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    

    <div id="contents">
        <center>
            <h1>{{ title }}</h1>
        </center>
        <span id='sideText'> 공부 시간(hour) </span>

        <canvas id="chart" width="600" height="400"></canvas>
        <script>
            // bar chart data
            var barData = {
                labels: [
                    {% for item in date_data %}
            "{{ item }}",
                {% endfor %}
	                ],

            datasets: [{
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                data: [
                    {% for item in time_data %}
                        "{{ item }}",
            {% endfor %}
            ]
                        }
                    ]
                }

            // get bar chart canvas
            var mychart = document.getElementById("chart").getContext("2d");

            steps = 10
            max = {{ max }}

            // draw bar chart
            new Chart(mychart).Bar(barData, {
                scaleOverride: true,
                scaleSteps: steps,
                scaleStepWidth: Math.ceil(max / steps),
                scaleStartValue: 0,
                scaleShowVerticalLines: true,
                scaleShowGridLines: true,
                barShowStroke: true,
                scaleShowLabels: true
            }
            );

        </script>
        <div id='bottomText'> 날짜 </div>
    </div>

</body>

</html>